html, body {margin: 0px;padding: 0px;height: 100%;}
svg {border: 0px solid;}

a {color:#000000;text-decoration: underline;}
a:hover {color:#ffffff;background: #000000;}

#suns {overflow: hidden;position: fixed;background: #ffffff;}

/* List View */
#list .item {padding: 10px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#list .item:hover {background-color: #c8c8c8; cursor: pointer;}

/* Controller */
.btn {white-space: normal;}
.footer {padding: 10px;}

#end-times-message {
	display: none;
	opacity: 0.0;
}
.controller-overlay-wrapper {
  position: fixed;
  top:0px;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  background: #000000;
}
.controller-overlay-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}
.controller-message-container {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 62em) {
  .controller-message-container {
    width: 27rem;
  }
}

/* System animations */
.rotate-path {
  animation-name: spin;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}