<header class="jumbotron">
	<h1>Suns Explorer</h1>
</header>

<div class="container">
	<div>
		<h4>Do you want to know what objects are currently on the screens in the Lightbox Gallery?</h4>
		<p><a class="btn btn-lg btn-primary" href="/list">If so, view the running list of objects.</a></p>

		<p><br/></p>

		<h4>Are you currently in the Lightbox Gallery?</h4>
		<p><a class="btn btn-lg btn-primary" href="/controller">If so, control the screens.</a></p>
	</div>
</div>