<nav class="navbar navbar-dark bg-dark">
	<h1 class="navbar-brand">Suns Explorer Controller</h1>
</nav>
<div id="controller" class="container">

	<div class="mt-3">
		<h3>Activate Suns</h3>
		<button id="pause" class="btn btn-light z-depth-0 btn-outline btn-lg btn-block">Stop Fusing Atoms</button>
		<button id="lights" class="btn btn-light z-depth-0 btn-outline btn-lg btn-block">I Prefer Darkness</button>
		<button id="tell-me" class="btn btn-light z-depth-0 btn-outline btn-lg btn-block">Tell Me</button>
		<button id="scatter" class="btn btn-light z-depth-0 btn-outline btn-lg btn-block">Scatter</button>
		<button id="systematizer" class="btn btn-light z-depth-0 btn-outline btn-lg btn-block">Solar System-atize It</button>

		<label class="mt-4" for="atomizer">Atomize It</label>
		<div class="d-flex justify-content-center my-2 mb-4">
     		<span class="font-weight-bold black-text mr-2"><i class="fas fa-minus" aria-hidden="true"></i></span>
			<form class="range-field w-100">
				<input type="range" class="border-0 custom-range" id="atomizer">
			</form>
      		<span class="font-weight-bold black-text ml-2"><i class="fas fa-plus" aria-hidden="true"></i></span>
		</div>

		<button id="big-bang" class="btn btn-light z-depth-0 btn-outline btn-lg btn-block">Big Bang</button>
		<button id="end-times" class="btn btn-light z-depth-0 btn-outline btn-lg btn-block">End Times</button>
	</div>
<!-- 	<div class="mt-3">
		<h3>Apply Gravity</h3>
		<div class="btn-group btn-block d-flex" role="group">
			<button id="gravity-0" class="btn btn-light z-depth-0 btn-outline btn-lg w-100">Anti-</button>
			<button id="gravity-1" class="btn btn-light z-depth-0 btn-outline btn-lg w-100">1g</button>
			<button id="gravity-2" class="btn btn-light z-depth-0 btn-outline btn-lg w-100">2g</button>
			<button id="gravity-3" class="btn btn-light z-depth-0 btn-outline btn-lg w-100">3g</button>
		</div>
	</div> -->
	<div class="mt-3">
		<h3>Resize Suns</h3>
		<div class="btn-group btn-block d-flex" role="group">
			<button id="multiplier-1" class="btn btn-light z-depth-0 btn-outline btn-lg w-100">S</button>
			<button id="multiplier-2" class="btn btn-light z-depth-0 btn-outline btn-lg w-100">M</button>
			<button id="multiplier-3" class="btn btn-light z-depth-0 btn-outline btn-lg w-100">L</button>
			<button id="multiplier-4" class="btn btn-light z-depth-0 btn-outline btn-lg w-100">XL</button>
		</div>
	</div>
</div>
<footer class="footer">
	<div class="container"></div>
</footer>

<div id="end-times-message" class="controller-overlay-wrapper">
	<div class="controller-overlay-wrapper-inner">
		<div class="controller-message-container">
			<h1 id="overlay-message">So long, and thanks for all the fish.</h1>
		</div>
	</div>
</div>

<script type="text/javascript">
	var messages = [
		"So long, and thanks for all the fish.",
		"“By looking far out into space we are also looking far back into time, back toward the horizon of the universe, back toward the epoch of the Big Bang.”  ―Carl Sagan, Cosmos"
	];

    var socket = io('/controller-namespace');

    socket.on("start up", function(data) {
    	$("#tell-me").text(data.labelsOn ? "Tell Me Not" : "Tell Me");
    	$("#pause").text(data.paused ? "Resume Star Formation" : "Stop Fusing Atoms");
    	$("#lights").text(data.lightsOn ? "I Prefer Darkness" : "I Prefer Lightness");
		$("#systematizer").text(data.systemState === 0 ? "Solar System-atize It" : "Sun-ify It");
		$("#atomizer").val(data.atomizerState);
    });

    socket.on("tell-me state", function(data) {
    	$("#tell-me").text(data ? "Tell Me Not" : "Tell Me");
    });

    socket.on("pause state", function(data) {
    	$("#pause").text(data ? "Resume Star Formation" : "Stop Fusing Atoms");
    });

    socket.on("lights state", function(data) {
    	$("#lights").text(data ? "I Prefer Darkness" : "I Prefer Lightness");
    });

    socket.on("systematizer state", function(data) {
    	$("#systematizer").text(data === 0 ? "Solar System-atize It" : "Sun-ify It");
    });

    socket.on("end-times started", function(data) {
		$("#overlay-message").text(messages[0]);

    	$("#end-times-message")
			.css("display", "table")
			.fadeTo(750, 1.0);
    });

    socket.on("end-times ended", function(data) {
    	$("#end-times-message")
			.fadeTo(750, 0.0, function() {$(this).hide()})
    });

    socket.on("big-bang started", function(data) {
		$("#overlay-message").text(messages[1]);

    	$("#end-times-message")
			.css("display", "table")
			.fadeTo(750, 1.0);
    });

    socket.on("big-bang ended", function(data) {
    	$("#end-times-message")
			.fadeTo(750, 0.0, function() {$(this).hide()})
    });

	$("#pause").click(function() {
		socket.emit("pause clicked")
	});

	$("#tell-me").click(function() {
		socket.emit("tell-me clicked")
	});

	$("#lights").click(function() {
		socket.emit("lights clicked")
	});

	$("#scatter").click(function() {
		socket.emit("scatter clicked")
	});

	$("#systematizer").click(function() {
		socket.emit("systematizer clicked")
	});

	$("#big-bang").click(function() {
		socket.emit("big-bang clicked")
	});

	$("#eclipse").click(function() {
		socket.emit("eclipse clicked")
	});

	$("#end-times").click(function() {
		socket.emit("end-times clicked")
	});

	$("#multiplier-1").click(function() {
		socket.emit("multiplier clicked", 1);
	});
	$("#multiplier-2").click(function() {
		socket.emit("multiplier clicked", 2);
	});
	$("#multiplier-3").click(function() {
		socket.emit("multiplier clicked", 3);
	});
	$("#multiplier-4").click(function() {
		socket.emit("multiplier clicked", 4);
	});

	$("#atomizer").on("input change", function(e) {
		socket.emit("atomizer clicked", $(this).val());
	});
</script>
