<header class="jumbotron">
	<h1>Suns Explorer</h1>
</header>

<div class="container">
	<div>
		<h4>Do you want to know more about the objects currently on the screen?</h4>
		<p><a class="btn btn-lg btn-primary" href="/list">If so, view the running list of objects.</a></p>

		<p><br/></p>

		<h4>Do you want to take control of the suns?</h4>
		<p><a class="btn btn-lg btn-primary" href="/controller">If so, control the screen.</a></p>
	</div>
</div>