<nav class="navbar navbar-dark bg-dark">
	<h1 class="navbar-brand">Suns Explorer Statistics</h1>
	<h6 class="navbar-text" id="status"></h6>
</nav>
<div id="stats" class="container">
	<ul class="list-group list-group-flush">
		<li class="list-group-item"><span>Controllers: </span><span id="num-controllers">0</span></li>
		<li class="list-group-item"><span>Screens: </span><span id="num-screens">0</span></li>
		<li class="list-group-item"><span>Labels: </span><span id="labels-state"></span></li>
		<li class="list-group-item"><span>Lights: </span><span id="lights-state"></span></li>
		<li class="list-group-item"><span>Paused: </span><span id="paused-state"></span></li>
		<li class="list-group-item"><span>Suns Size: </span><span id="size-state"></span></li>
		<li class="list-group-item"><span>Speed: </span><span id="speed-state"></span></li>
		<li class="list-group-item"><span>System State: </span><span id="system-state"></span></li>
		<li class="list-group-item"><span>Atomizer Factor: </span><span id="atomizer-state"></span></li>
	</ul>
</div>


<script type="text/javascript">

    var socket = io('/stats-namespace');

    socket.on("stats update", function(data) {
    	updateStats(data);
    });

    function updateStats(stats) {
    	$("#num-controllers").text(stats.controllerCount);
    	$("#num-screens").text(stats.screenCount);
    	$("#labels-state").text(stats.labelsOn ? "on" : "off");
    	$("#lights-state").text(stats.lightsOn ? "on" : "off");
    	$("#paused-state").text(stats.paused ? "yes" : "no");
    	$("#size-state").text(stats.scaleMultiplier);
    	$("#speed-state").text(stats.speedMultiplier);
    	$("#system-state").text(stats.systemState);
    	$("#atomizer-state").text(stats.atomizerState);
    }

</script>